@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    San Joaquín, Región Metropolitana<br />
    IP-Santo-Tomas
    por Joel Ferrada - Manuel Barra<br />
    <abbr title="Phone">P:</abbr>
    00000000
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:SoportePizzainc@gmail.com">SoportePizzainc@gmail.com</a><br />
</address>