@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center>
        <h1>Pizzeria</h1>
        <p class="lead">Bienvenidos a PizzasInc</p>
       
    </center>
</div>

<div class="row">
    <center>
        <div class="col-md-4">
            <h2>Contacto</h2>
            <p><a class="btn btn-default" href="/Home/Contact">Contactanos &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Unete</h2>
            <p>Unete como Cliente Aqui</p>
            <p><a class="btn btn-default" href="/Registro/Registro">Unirse &raquo;</a></p>
        </div>
    </center>
</div>